body{
  background-image: url("sfondo.jpg");
  background-size: cover;
  font-family: "Poppins"; sans-serif;

}

.contenitore{
  width: 900px;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
  border-radius: 2%;
  padding: 50px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: auto;
}

h1{
  text-align: center;
  color: #7CFC00;
  margin: 0;
}

nav{
  background-color: #7CFC00;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: center;
}

h2, p{
  display: inline-block;
  color: white;
  padding: 0;
  margin: 0;
}

.arrow:before {
  content: "\21A6";
  color: white;
}

.arancio{
  background-color: orange;
  width: 350px;
  height: 30px;
  border-radius: 5px;
}

.verde{
  background-color: #2EB82E;
  width: 550px;
  height: 30px;
  border-radius: 5px;
}

.rosso{
  background-color: #B30000;
  width: 150px;
  height: 30px;
  border-radius: 5px;
}
